* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    /* overflow-x: hidden; */
}

.banner {
    display: flex;
    position: relative;
    height: 140vh;
    background: #E5EEF6;
    overflow-x: hidden;
}

button:hover {
    cursor: pointer;
}

.heading {
    position: absolute;
    width: 224px;
    height: 58px;
    left: 114px;
    top: 35px;
    font-style: normal;
    font-weight: 800;
    font-size: 2.9rem;
    line-height: 52px;
    color: #65DCDF;
}

.our-products {
    position: absolute;
    width: 158.65px;
    height: 48.08px;
    left: 361px;
    top: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 29px;
    color: #575F94;
}

.faqs {
    position: absolute;
    width: 52.88px;
    height: 48.08px;
    left: 528.31px;
    top: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 29px;
    color: #575F94;
}

.contact {
    position: absolute;
    width: 90px;
    height: 48px;
    left: 609px;
    top: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 29px;
    color: #575F94;
}

.blog {
    position: absolute;
    width: 50.96px;
    height: 48.08px;
    left: 715.81px;
    top: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 29px;
    color: #575F94;
}

.six-things {
    position: absolute;
    width: 177px;
    height: 50px;
    left: 798px;
    top: 45px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 29px;
    color: #575F94;
}

.log-in {
    position: absolute;
    width: 120px;
    height: 55px;
    left: 1000px;
    top: 38px;
    background: #23D3D3;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.create-account {
    position: absolute;
    width: 150px;
    height: 55px;
    left: 1150px;
    top: 38px;
    background: #1E266D;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 10px;
    padding-right: 10px;
}

.earn {
    position: absolute;
    width: 354px;
    height: 41px;
    left: 80px;
    top: 215px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 27px;
    color: #1E266D;
}

.safe-high-yield {
    line-height: 0.5;
    position: absolute;
    width: 598px;
    height: 161px;
    left: 80px;
    top: 272px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bolder;
    font-size: 4.0rem;
    line-height: 90px;
    color: #1E266D;
}

.opening-message {
    position: absolute;
    width: 633.47px;
    height: 250px;
    left: 80px;
    top: 447px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 29px;
    color: #444546;
}

.serve {
    font-family: Poppins;
    font-style: normal;
    font-weight: bolder;
    font-size: 19.0678px;
    line-height: 29px;
    color: #1E266D;
}

.invest-btn {
    position: absolute;
    width: 152px;
    height: 42px;
    left: 0px;
    top: 100px;
    font-size: 1.4rem;
    font-weight: bold;
    background: #1E266D;
    color: white;
    border: none;
}

.banner-img {
    position: absolute;
    width: 608px;
    height: 400px;
    left: 700px;
    top: 225.98px;
}

.card-1, .card-2, .card-3, .card-4 {
    display: inline;
}

.card-1 {
    position: absolute;
    width: 250px;
    height: 202.3px;
    left: 100px;
    top: 650px;
    background-color: white;
}

.card-2 {
    position: absolute;
    width: 250px;
    height: 202.3px;
    left: 397.61px;
    top: 650px;
    background-color: white;
}

.card-3 {
    position: absolute;
    width: 250px;
    height: 202.3px;
    left: 691.08px;
    top: 650px;
    background-color: white;
}

.card-4 {
    position: absolute;
    width: 250px;
    height: 202.3px;
    left: 982.54px;
    top: 650px;
    background-color: white;
}

.card-1-title {
    position: absolute;
    width: 68.39px;
    height: 54.53px;
    left: 5.28px;
    top: 2.95px;
}

.card-1-h4 {
    position: absolute;
    width: 238.44px;
    height: 36.04px;
    left: 12.3px;
    top: 48.65px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2.0rem;
    line-height: 42px;
    color: #353333;
}

.card-1-body {
    position: absolute;
    /* width: 283.72px; */
    height: 55.45px;
    left: 12.3px;
    top: 100.27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 28px;
    color: #353333;
}

.card-2-title {
    position: absolute;
    width: 68.39px;
    height: 54.53px;
    left: 5.28px;
    top: 2.95px;
}

.card-2-h4 {
    position: absolute;
    width: 238.44px;
    height: 36.04px;
    left: 12.3px;
    top: 48.65px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2.0rem;
    line-height: 42px;
    color: #353333;
}

.card-2-body {
    position: absolute;
    /* width: 283.72px; */
    height: 55.45px;
    left: 12.3px;
    top: 100.27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 28px;
    color: #353333;
}

.card-3-title {
    position: absolute;
    width: 68.39px;
    height: 54.53px;
    left: 5.28px;
    top: 2.95px;
}

.card-3-h4 {
    position: absolute;
    width: 238.44px;
    height: 36.04px;
    left: 12.3px;
    top: 48.65px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2.0rem;
    line-height: 42px;
    color: #353333;
}

.card-3-body {
    position: absolute;
    /* width: 283.72px; */
    height: 55.45px;
    left: 12.3px;
    top: 100.27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 28px;
    color: #353333;
}

.card-4-title {
    position: absolute;
    width: 68.39px;
    height: 54.53px;
    left: 5.28px;
    top: 2.95px;
}

.card-4-h4 {
    position: absolute;
    width: 238.44px;
    height: 36.04px;
    left: 12.3px;
    top: 48.65px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2.0rem;
    line-height: 42px;
    color: #353333;
}

.card-4-body {
    position: absolute;
    /* width: 283.72px; */
    height: 55.45px;
    left: 12.3px;
    top: 100.27px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 28px;
    color: #353333;
}

/* second section */

.mission-values {
    /* width: 100vw; */
    position: absolute;
    width: 100vw;
    height: 112.8vh;
    /* left: 100px; */
    /* top: 149vh; */
    background: #00387A;
}

.mission-img {
    position: absolute;
    width: 600px;
    height: 750px;
    left: 0px;
    /* top: 149vh; */
}

.who-we-are {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 650px;
    top: 5vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #7492B7;
}

.mission-values-h1 {
    position: absolute;
    width: 550px;
    height: 50px;
    left: 650px;
    top: 10vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.mission-values-body {
    position: absolute;
    width: 550px;
    height: 370px;
    left: 650px;
    top: 15vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.signature {
    position: absolute;
    width: 259px;
    height: 100px;
    left: 650px;
    top: 458px;
}

.ceo {
    position: absolute;
    width: 301px;
    height: 100px;
    left: 650px;
    top: 550px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.six-things-section {
    position: absolute;
    top: 253.1vh;
    left: 0vh;
    width: 100vw;
    height: 125vh;
    background-color: #E5E5E5;
}

.credentials-heading {
    position: absolute;
    width: 350px;
    height: 50px;
    left: 5vw;
    top: 10vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #353333;
}

.credentials-heading-title {
    position: absolute;
    /* width: 350px; */
    height: 50px;
    left: 5vw;
    top: 20vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: bolder;
    font-size: 3.7rem;
    line-height: 25px;
    color: #353333;
}

/* .cards-section {
    position: absolute;
    width: 100vw;
    height: 547.51px;
    left: 0vw;
    top: 25vh;
} */

.card-3-1 {
    position: absolute;
    width: 35rem;
    height: 25rem;
    left: 7rem;
    top: 30vh;
    background: #FFFFFF;
}

.card-3-2 {
    position: absolute;
    width: 35rem;
    height: 25rem;
    left: 45rem;
    top: 30vh;
    background: #FFFFFF;
}

.card-3-3 {
    position: absolute;
    width: 35rem;
    height: 25rem;
    left: 83rem;
    top: 30vh;
    background: #FFFFFF;
}

.card-3-4 {
    position: absolute;
    width: 35rem;
    height: 25rem;
    left: 7rem;
    top: 72vh;
    background: #FFFFFF;
}

.card-3-5 {
    position: absolute;
    width: 35rem;
    height: 25rem;
    left: 45rem;
    top: 72vh;
    background: #FFFFFF;
}

.card-3-6 {
    position: absolute;
    width: 35rem;
    height: 25rem;
    left: 83rem;
    top: 72vh;
    background: #FFFFFF;
}

.umbrella {
    position: absolute;
    width: 54px;
    height: 50px;
    left: 4rem;
    top: 0vh;
}

.how-it-works {
    position: absolute;
    width: 316.75px;
    height: 181.13px;
    left: 4rem;
    top: 8vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 17.6504px;
    line-height: 26px;
    color: #282727;
}

.card-3-1-body {
    position: absolute;
    /* width: 316.75px; */
    /* height: 181.13px; */
    left: 4rem;
    top: 15vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14.875px;
    line-height: 22px;
    color: #353333;
}

.read-more-1 {
    position: absolute;
    width: 316.75px;
    height: 181.13px;
    left: 4rem;
    top: 30vh;
    font-family: Poppins;
    font-style: bold;
    font-weight: 600;
    font-size: 13.2378px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #222121;
}

.products-section {
    position: absolute;
    background-color: #E5EEF6;
    padding-top: 20vh;
    padding-left: 10vw;
    height: 100vh;
    width: 100vw;
    top: 380vh;
    left: 0vw;
}

.products-h1 {
    position: absolute;
    top: 18vh;
    left: 6rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #353333;
}

.products-body {
    position: absolute;
    width: 1224px;
    height: 317px;
    left: 6rem;
    top: 30vh;
    background: #F8F9FA;
}

.products-individual-1 {
    position: absolute;
    width: 382.13px;
    height: 289.19px;
    left: 2vw;
    top: 2vh;
    background: #F9F5F0;
}

.products-individual-2 {
    position: absolute;
    width: 382.13px;
    height: 289.19px;
    left: 31vw;
    top: 2vh;
    background: #F9F5F0;
}

.products-individual-3 {
    position: absolute;
    width: 382.13px;
    height: 289.19px;
    left: 60vw;
    top: 2vh;
    background: #F9F5F0;
}

.overwood-prime {
    position: absolute;
    width: 357.57px;
    height: 257.68px;
    left: 3vw;
    top: 2vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #72B4F8;
}

.overwood-prime-body {
    position: absolute;
    /* width: 357.57px; */
    height: 257.68px;
    left: 3vw;
    top: 8vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #353333;
}

.overwood-dollar {
    position: absolute;
    width: 357.57px;
    height: 257.68px;
    left: 3vw;
    top: 2vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #5FD8D6;
}

.overwood-dollar-body {
    position: absolute;
    /* width: 357.57px; */
    height: 257.68px;
    left: 3vw;
    top: 8vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #353333;
}

.overwood-child {
    position: absolute;
    width: 357.57px;
    height: 257.68px;
    left: 3vw;
    top: 2vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #8950FC;
}

.overwood-child-body {
    position: absolute;
    /* width: 357.57px; */
    height: 257.68px;
    left: 60vw;
    top: 8vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #353333;
}

.more-info-1 {
    position: absolute;
    width: 357.57px;
    height: 257.68px;
    left: 4rem;
    top: 25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #4CADAC;
}

.more-info-2 {
    position: absolute;
    width: 357.57px;
    height: 257.68px;
    left: 4rem;
    top: 25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #4CADAC;
}

.more-info-3 {
    position: absolute;
    width: 357.57px;
    height: 257.68px;
    left: 4rem;
    top: 25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #4CADAC;
}

/* testimonials section */

.testimonials {
    position: absolute;
    top: 480.5vh;
    width: 1440px;
    height: 120vh;
    background: #E5EEF6;
}

.header {
    position: absolute;
    /* top: 10vh;
    left: 4vw; */
}

.header-title {
    position: absolute;
    width: 314.5px;
    height: 44.93px;
    left: 137px;
    top: 84px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16.1881px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #847E7E;
}

.header-description {
    position: absolute;
    width: 853.65px;
    height: 63.67px;
    left: 137px;
    top: 129.33px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 43.1683px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #282727;
}

.testimonial-card-1 {
    position: absolute;
    width: 345.45px;
    height: 380px;
    left: 13.7rem;
    top: 246px;
    background: #FFFFFF;
}

.person-name-1 {
    position: absolute;
    width: 345.45px;
    height: 34.55px;
    left: 0vw;
    top: 2vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15.6876px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #353333;
    border-bottom: 0.431818px solid #000000;
}

.name {
    position: absolute;
    left: 2vw;
    font-size: 15.6876px;
}

.testimonial-card-2 {
    position: absolute;
    width: 345.45px;
    height: 380px;
    left: 37vw;
    top: 246px;
    background: #FFFFFF;
}

.person-name-2 {
    position: absolute;
    width: 345.45px;
    height: 34.55px;
    left: 0vw;
    top: 2vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15.6876px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #353333;
    border-bottom: 0.431818px solid #000000;
}

.testimonial-card-3 {
    position: absolute;
    width: 345.45px;
    height: 380px;
    left: 64vw;
    top: 246px;
    background: #FFFFFF;
}

.person-name-3 {
    position: absolute;
    width: 345.45px;
    height: 34.55px;
    left: 0vw;
    top: 2vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15.6876px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #353333;
    border-bottom: 0.431818px solid #000000;
}

/* .vector {
    position: absolute;
    width: 44.48px;
    height: 82.48px;
    left: 379.68px;
    top: 281.84px;
    background: #D4F6F6;
} */

.vector {
    position: absolute;
    top: 5vh;
    left: 20vw;
}

.person-body {
    position: absolute;
    width: 276.36px;
    height: 172.73px;
    left: 2vw;
    top: 26vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 19px;
    color: #353333;
}

.person-body-read-more {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 19px;
    color: #191768;
}

.next-steps {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 601vh;
    background: #E5EEF6;
}

.next-steps-header {
    position: absolute;
    width: 659px;
    height: 98px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
}

.next-steps-header .div-one {
    position: absolute;
    left: 10vw;
    top: 25vh;
    color: #969392;
    font-size: 1.3rem;
}

.next-steps-header .div-two h1 {
    position: absolute;
    left: 10vw;
    top: 33vh;
    color: #282727;
    font-size: 5.0rem;
    font-weight: bolder;
}

.next-steps-body {
    position: absolute;
    width: 1100px;
    height: 220px;
    left: 10vw;
    top: 44vh;
    background: #F8F9FA;
}

.next-steps-single-1 {
    position: absolute;
    width: 350px;
    height: 200px;
    left: 1vw;
    top: 1vh;
    background: #F9F5F0;
}

.next-steps-single-2 {
    position: absolute;
    width: 350px;
    height: 200px;
    left: 27.5vw;
    top: 1vh;
    background: #F9F5F0;
}

.next-steps-single-3 {
    position: absolute;
    width: 350px;
    height: 200px;
    left: 54vw;
    top: 1vh;
    background: #F9F5F0;
}

.invest-now, .request-details, .contact-us {
    position: absolute;
    width: 341px;
    height: 175.6px;
    left: 1vw;
    top: 2vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #353333;
}

.invest-now-body {
    position: absolute;
    width: 341px;
    height: 175.6px;
    left: 1vw;
    top: 10vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F66A4;
}

.request-details-body {
    position: absolute;
    width: 341px;
    height: 175.6px;
    left: 1vw;
    top: 10vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F66A4;
}

.contact-us-body {
    position: absolute;
    width: 341px;
    height: 175.6px;
    left: 1vw;
    top: 10vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #1F66A4;
}

.blog-section {
    position: absolute;
    width: 100vw;
    height: 130vh;
    top: 702vh;
    background: #E5EEF6;
}

.blog-section-header {
    position: absolute;
    left: 10vw;
    top: 15vh;
}

.blog-section-header p {
    position: absolute;
    width: 480px;
    height: 80px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #9D9595;
}

.blog-section-header h1 {
    position: absolute;
    width: 480px;
    height: 80px;
    /* left: 10vw; */
    top: 2vw;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32.7333px;
    line-height: 49px;
    color: #282727;
}

.all-posts {
    position: absolute;
    width: 240px;
    height: 40px;
    right: 0vw;
    top: 120px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-decoration-line: underline;
    color: #9D9595;
}

/* blog section */

.blog-date {
    position: absolute;
    width: 334.96px;
    height: 107px;
    left: 3vw;
    top: 33vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 16px;
    color: #888383;
}

.financial-independence {
    color: #285785;
    font-size: 1.2rem;
}

.blog-title {
    position: absolute;
    /* width: 334.96px; */
    height: 107px;
    left: 3vw;
    top: 38vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.8rem;
    line-height: 2rem;
    color: #353333;
}

.blog-body {
    position: absolute;
    width: 276px;
    height: 174px;
    left: 3vw;
    top: 30rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 22px;
    color: #4F4F4F;
}

.blog-read-more {
    position: absolute;
    width: 276px;
    height: 174px;
    left: 0vw;
    top: 12rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #285785;
}

.blog-individual-1 {
    position: absolute;
    width: 360px;
    height: 70vh;
    left: 7vw;
    top: 1vh;
    background: #FFFFFF;
}

.blog-individual-2 {
    position: absolute;
    width: 360px;
    height: 70vh;
    left: 35vw;
    top: 1vh;
    background: #FFFFFF;
}

.blog-individual-3 {
    position: absolute;
    width: 360px;
    height: 70vh;
    left: 63vw;
    top: 1vh;
    background: #FFFFFF;
}

.blog-img {
    position: absolute;
    width: 26.4vw;
    height: 31vh;
    /* left: 85px;
    top: 240px; */
}